

<div class="text-left">
    <h1 class="display-4">Oleksandr Usyk</h1>
    <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/2022_-_Centre_Stage_EN1_4500_%2852471602047%29_%28cropped%29.jpg/330px-2022_-_Centre_Stage_EN1_4500_%2852471602047%29_%28cropped%29.jpg" />
    <p>
        <abbr>Oleksandr Oleksandrovich Usyk </abbr> ( born January 17, 1987 , Simferopol , Ukrainian SSR , USSR ) is a Ukrainian undefeated professional boxer . Absolute world champion in the first heavyweight (2018-2019) and heavyweight (2024) [ 7 ] . World champion in the first heavyweight (versions WBO (2016-2019), WBC (2018-2019), IBF (2018-2019), WBA (Super) (2018-2019), the belt of the authoritative magazine The Ring (2018-2019), world heavyweight champion ( WBO (2021– incl. ), IBF (2021–2024), WBA (Super) (2021– incl. ), WBC (2024– incl. ) and IBO (2021) versions - t.ch. ), belt of the authoritative magazine The Ring (2022-tch.), Olympic champion ( 2012 ), world champion ( 2011 ) and European champion ( 2008 ) among amateurs, multiple champion of Ukraine. Defeated 7 fighters for the title world champion in the first heavyweight [ 8 ] , Honored Master of Sports of Ukraine , National Legend of Ukraine ( 2024 ) [ 9 ] .

        In 2017 , Oleksandr Usyk climbed to the first step of the ranking of the best boxers in the first heavyweight according to the version of the authoritative boxing publication "The Ring" [ 10 ] . On July 21, 2018, he became the first Ukrainian to become the absolute world champion, defeating Ossetian Murat Gassiev , who represented Russia , in the finals of the WBSS World Boxing Super Series , and winning the titles of the world champion of the four most authoritative boxing organizations in the first heavyweight division. [ 11 ] On September 25, 2021, he became the third Ukrainian boxer to become the heavyweight boxing world champion. [ 12 ]
    </p>
</div>
